{% extends 'base.html' %}

{% block header_text %}My Sites{% endblock %}

<!--{% block list_form %}{% endblock %}-->

{% block extra_content %}
    <h2>{{ owner.email }}'s sites</h2>  
    <table>
        {% for subscription in subscriptions %}  
            <tr>
                <td>{{ subscription.site.url }}</td>
                {% with last_url="my_sites"%}
                <td><a href="{% url 'unsubscribe' owner.email subscription.site.id last_url %}"><button>Unsubscribe</button></a></td>
                {% endwith %}
            </tr>
        {% endfor %}
    </table>
    <form method="POST"
        action="{% url 'search_and_subscribe' owner.email %}">
        <span>Enter an url of a site to subscribe to:</span>
        <input name="url", type="text", value="url"/>
        {% csrf_token %}
    </form>
{% endblock %}